# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
dist/
build/
eggs/
.eggs/
lib/
lib64/
parts/
bin/
sdist/
var/
*.egg-info/
.installed.cfg
*.manifest

# PyInstaller
#  Usually these files are written by a python script; checking them in is harmless, but not required.
#  Sometimes these are created by makefile rules, so they do need to be checked in.
build/
dist/
!build/hooks/
!build/loaders/

# Others
*.log
*.bak
*.swp
*~
.DS_Store
